[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/shortener
ExecStart=/root/apps/shortener/shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/shortener/config.env

[Install]
WantedBy=multi-user.target